@font-face {
    font-family: 'sansationregular';
    src: url('../src/fonts/sansation_regular-webfont.woff2') format('woff2'),
         url('../src/fonts/sansation_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationbold';
    src: url('../src/fonts/sansation_bold-webfont.woff2') format('woff2'),
         url('../src/fonts/sansation_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansation_lightregular';
    src: url('../src/fonts/sansation_light-webfont.woff2') format('woff2'),
         url('../src/fonts/sansation_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}