.habit{

background: #E8F3FB;
border-radius: 44px;
border: 0px solid #FFF;
background: #77B2B5;
&.habit:nth-of-type(even){
    background: #73A6C4;
 
}
h4{
    background-color: transparent;
}
.info{
    
    background-color: transparent;
    p{
        background-color: transparent;
    }
}

/* card */
box-shadow: 0px 25px 50px 0px rgba(203, 203, 203, 0.05);
width: 409.61px;
padding: 2rem;
margin-bottom: 2rem;

flex-shrink: 0;
button{
    margin: 1rem 0;
    border-radius: 20px;
    background-color: rgb(172, 197, 176);
    padding: 0.2rem 0.6rem;
    
}
.numb{
    
    background-color: transparent;
    display: flex;
    
    flex-wrap: wrap;
    p {
        display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.25rem;
    }
}

}