@font-face {
  font-family: "sansationregular";
  src: url("../src/fonts/sansation_regular-webfont.woff2") format("woff2"), url("../src/fonts/sansation_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansationbold";
  src: url("../src/fonts/sansation_bold-webfont.woff2") format("woff2"), url("../src/fonts/sansation_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansation_lightregular";
  src: url("../src/fonts/sansation_light-webfont.woff2") format("woff2"), url("../src/fonts/sansation_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  font-size: 16px;
  align-items: center;
  margin: auto;
  font-family: "sansationregular";
}

header {
  display: block;
  max-width: 1800px;
  margin: auto;
  padding-top: 5rem;
}
header img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 290px;
}
header ul {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
nav #bgMenu {
  width: 50px;
  height: 50px;
}
nav ul.hide {
  display: none;
}
nav ul.active {
  flex-direction: column;
}
nav button:hover {
  border-color: rgb(52, 68, 81);
  box-shadow: 0px 0px 0px 1px rgb(52, 68, 81) inset;
  -webkit-box-shadow: 0px 0px 0px 1px rgb(52, 68, 81) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgb(52, 68, 81) inset;
  cursor: pointer;
}
nav button:hover a {
  font-weight: bold;
  color: rgb(52, 68, 81);
  text-decoration: none;
  padding: 0.75rem 2rem;
}
nav button:first-of-type {
  margin: 1rem;
}
nav button a {
  background-color: transparent;
}
nav li {
  display: inline-block;
  padding: 0.625rem 1.563rem;
  align-items: flex-start;
}
nav a {
  text-decoration: none;
  color: rgb(52, 68, 81);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav a:hover {
  color: rgb(232, 157, 37);
  text-decoration: underline;
}
nav div {
  display: flex;
}
nav div button {
  background-color: rgb(232, 157, 37);
  color: white;
  width: 125px;
  height: 51px;
  border-radius: 50px;
}

.teamMember {
  text-align: center;
}
.teamMember h4 {
  padding: 3rem;
}
.teamMember p {
  padding: 2rem 5rem;
}

#path {
  text-align: center;
}

#components {
  max-width: 900px;
  height: 900px;
  position: relative;
}
#components h3 {
  position: absolute;
  display: flex;
  text-align: center;
  top: 35%;
  left: 48%;
  transform: translate(-50%);
  align-items: center;
  width: 275px;
  height: 275px;
  background: #73A6C4;
  border-radius: 100%;
  border: 3px solid rgb(52, 68, 81);
  box-shadow: 0 0 0 10px white, 0 0 0 20px #344451;
  font-size: 3rem;
  color: white;
  justify-content: center;
}
#components li {
  align-items: center;
  display: flex;
  width: 175px;
  height: 175px;
  border-radius: 100%;
  border: 3px solid rgb(52, 68, 81);
  box-shadow: 0 0 0 10px white, 0 0 0 20px rgb(232, 157, 37);
}
#components li a {
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #344451;
  font-family: Sansation;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.49%;
  /* 31.647px */
}
#components li:first-of-type {
  position: absolute;
  top: 0;
  left: 48%;
  transform: translate(-50%);
}
#components li:nth-of-type(2) {
  position: absolute;
  top: 100px;
  right: 65px;
  transform: translate(-50%);
}
#components li:nth-of-type(3) {
  position: absolute;
  top: 330px;
  right: -30px;
  transform: translate(-50%);
}
#components li:nth-of-type(4) {
  position: absolute;
  bottom: 170px;
  right: 35px;
  transform: translate(-50%);
}
#components li:nth-of-type(5) {
  position: absolute;
  bottom: 0;
  right: 20%;
  transform: translate(-50%);
}
#components li:nth-of-type(6) {
  position: absolute;
  bottom: 0px;
  left: 35%;
  transform: translate(-50%);
}
#components li:nth-of-type(7) {
  position: absolute;
  bottom: 170px;
  left: 170px;
  transform: translate(-50%);
}
#components li:nth-of-type(8) {
  position: absolute;
  top: 330px;
  left: 100px;
  transform: translate(-50%);
}
#components li:nth-of-type(9) {
  position: absolute;
  top: 100px;
  left: 200px;
  transform: translate(-50%);
}

.personInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: transparent;
}
.personInfo p {
  text-decoration: none;
  color: rgb(66, 62, 62);
  margin: 0.2rem 0;
}

.personInfoContain {
  background: #FCF3E5;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
}
.personInfoContain a {
  border-radius: 32px;
  background: #77B2B5;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
}
.personInfoContain h3 {
  color: #E89D25;
  font-size: 1.4rem;
}

.containStyle {
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.containStyle h3 {
  color: #E89D25;
  margin: 2rem 0;
  font-size: 3rem;
}
.containStyle a {
  border-radius: 32px;
  background: #77B2B5;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  margin-bottom: 2rem;
}
.containStyle#showPaths {
  background: #E8F3FB;
}
.containStyle#showPaths .cardPath {
  border: 2px solid white;
  width: 25rem;
  margin-bottom: 1rem;
  border-radius: 25px;
}
.containStyle p {
  margin-top: 1rem;
  padding: 1rem;
}
.containStyle p span {
  border-radius: 24px;
  background: #E89D25;
  padding: 0.2rem 0.6rem;
}
.containStyle ul {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin-bottom: 2rem;
}
.containStyle ul li {
  text-decoration: none;
  margin: 0.2rem 1rem;
  border-radius: 32px;
  background: #FFF;
  padding: 0.2rem 0.6rem;
}

main {
  margin: auto;
}
main #headerImage img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
main section {
  max-width: 1400px;
  align-items: center;
  justify-content: center;
}
main section p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}
main section p:last-of-type {
  margin-bottom: 0;
}
main section#ourStory img {
  max-width: 550px;
  margin-right: 5rem;
}
main section div.bais {
  display: flex;
}
main section h2 {
  color: #E89D25;
  text-align: center;
  margin: 5rem 0;
  font-size: 7.5rem;
  line-height: 105.49%;
}
main section img {
  display: flex;
}

#ourTeam .tmembers {
  display: flex;
}

footer {
  padding: 2rem;
  background-color: rgb(52, 68, 81);
}
footer img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  background-color: transparent;
}

main h1 {
  font-size: 4.5rem;
  text-align: center;
  color: rgb(232, 157, 37);
  margin: 3rem;
}
main .form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
main .form .culmn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
main .form .culmn label {
  font-family: Sansation;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0.65rem;
}
main .form .culmn input {
  border-radius: 32px;
  background: #EFEFEF;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25) inset;
  padding: 0.65rem 4.5rem;
}
main .form select {
  margin: 1rem;
  border-radius: 32px;
  background: #EFEFEF;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25) inset;
  padding: 0.65rem 4.5rem;
}
main .form textarea {
  margin: 1rem;
  border-radius: 32px;
  background: #EFEFEF;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25) inset;
  padding: 0.65rem 4.5rem;
}
main .form button {
  padding: 0.65rem 4.5rem;
  border-radius: 32px;
  background-color: rgb(52, 68, 81);
  color: white;
  margin: 3rem;
}

.button-animation {
  animation: scaleButton 0.3s ease-in-out forwards;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
#ch {
  transform: rotate(90deg);
  align-items: center;
  position: fixed;
  padding: 1rem;
  bottom: 2rem;
  right: 3rem;
  border-radius: 100%;
  font-size: 50px;
  font-weight: 900;
  color: rgb(232, 157, 37);
  background-color: rgba(175, 194, 188, 0.561);
  z-index: 2400;
}

.invis {
  display: none;
}

.number {
  border: 1px solid gray;
  border-radius: 100%;
}

.yellew {
  background-color: #E89D25;
}

@media screen and (max-width: 1800px) {
  header nav {
    flex-direction: row-reverse;
  }
  header nav #bgMenu {
    margin-left: 0;
    width: 30px;
    height: 4px;
    background-color: black;
    position: relative;
    cursor: pointer;
  }
  header nav #bgMenu::before {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 30px;
    height: 4px;
    background-color: black;
  }
  header nav #bgMenu::after {
    content: "";
    position: absolute;
    top: 10px;
    height: 4px;
    width: 30px;
    background-color: black;
  }
  header nav .visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100px;
  }
  header nav #btns {
    margin-right: 0;
  }
}
@media screen and (max-width: 850px) {
  .bais {
    flex-direction: column;
  }
  .tmembers {
    flex-direction: column;
  }
  #ourStory img {
    width: 80%;
    object-fit: contain;
  }
  #components {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
  }
  #components h3 {
    position: relative;
    transform: translate(0) !important;
    top: 0 !important;
    left: 0 !important;
  }
  #components li {
    margin: 2rem;
    position: relative !important;
    transform: translate(0) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
